<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unexpected Error</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="error">
      <h2><%= locals.code %> | <%= locals.name %></h2>
      <p><%= locals.message %></p>
      <a href="/">Go Back</a>
    </div>
  </body>
</html>
